<ion-header>
  <ion-navbar color="myHitam">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-image no-scroll" padding>
    <div style="margin-top:20px;margin-left: 20%;">
      <img src="assets/imgs/rasmi2.png" style="center">
      <!-- <h1 style="font-family: baloo-bhai;margin-left:15%;color:#ebebeb;">PET STOP CENTRE</h1> -->
    </div>
    <form #form="ngForm" (ngSubmit)="logForm(form)">
    <div style="margin-top: 10%;">
      <ion-list inset>

        <ion-item class="label">
          <ion-label style="color:#ebebeb; font-family:open-sans" floating>Email</ion-label>
          <ion-input type="text" style="color:#ebebeb;" required ngModel name="email"></ion-input>
        </ion-item>
      
        <ion-item class="label">
          <ion-label style="color:#ebebeb; font-family:open-sans" floating>Password</ion-label>
          <ion-input type="password" style="color:#ebebeb;" required ngModel name="password"></ion-input>
        </ion-item>
      
      </ion-list>
    </div>
   
      <div text-center>
        <button ion-button class="btnWidth" color="myHitam" round type="submit">Login </button>
      </div>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col>
              <p class="text" style="font-family: open-sans; font-size: 80%; color: #ebebeb;" [navPush]="registerPage">Do not have account?</p>    
              
          </ion-col>
          <ion-col text-right>
              <p class="text" style="font-family: open-sans; font-size: 80%; color:#3498db;">Forgot your password?</p>
              
          </ion-col>
        </ion-row>
      </ion-grid>
      
  </ion-content>
  