page-login {
    .bg-image{
        background-image: url(../assets/imgs/full-moon.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .no-scroll .scroll-content{
		overflow: hidden;
    }
    
    .label{
		background-color: rgba(255,255,255,0.0);
		margin-left: 10px;
  }
  
  .text-input::-moz-placeholder {
    color: white;
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }
}
