page-clinicdetail {
 ion-card {

        margin-top: 120px;
        padding-top: 30px;
        padding-bottom: 50px;
        overflow: visible;
        background-color: map-get($colors, myHitam);
    
        ion-card-content {
    
          background-color: map-get($colors, myHitam);
          color: #FFFFFF;
          text-align: center;
          padding-bottom: 28px;
    
          img {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            margin-top: 2%;
            border: solid 4px #FFFFFF;
            display: inline;
          }
    
          h2 {
            font-size: 2.5rem;
            margin-top: .5rem;
            color: white;
          }
    
          h3 {
            font-size: 1.8rem;
            color: white;
          }
    
        }
    
      }
}
