page-register {
.bg-image{
        background-image: url(../assets/imgs/full-moon.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .label{
		background-color: rgba(0,5,153,0.01);
		margin-left: 0px;
  }
  
  .text-input::-moz-placeholder {
    color: white;
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }
}
