<ion-header>
  <ion-navbar color="myHitam">
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-image no-scroll" padding>

    <div style="margin-top:20px;margin-left: 20%;">
      <img src="assets/imgs/rasmi2.png" style="center">
      <!-- <h1 style="font-family: baloo-bhai;margin-left:15%;color:#ebebeb;">PET STOP CENTRE</h1> -->
    </div>

    <form #form="ngForm" (ngSubmit)="signupForm(form)">
    <div style="margin-top: 5%;">
      
      <ion-list inset>
        <ion-item class="label">
          <ion-label style="color:#ebebeb; font-family:open-sans" floating>Username</ion-label>
          <ion-input type="text" style="color:#ebebeb;" required ngModel name="username"></ion-input>
        </ion-item>
      
        <ion-item class="label">
          <ion-label style="color:#ebebeb; font-family:open-sans" floating>Email</ion-label>
          <ion-input type="text" style="color:#ebebeb;" required ngModel name="email"></ion-input>
        </ion-item>
      
        <ion-item class="label">
          <ion-label style="color:#ebebeb; font-family:open-sans" floating>Password</ion-label>
          <ion-input type="password" style="color:#ebebeb;" required ngModel name="password"></ion-input>
        </ion-item>

        <ion-item class="label">
          <ion-label  style="color:#ebebeb; font-family:open-sans" floating >Roles</ion-label>
          <ion-select name="roles" style="color:#ebebeb;" ngModel required>
            <ion-option value="seller">Seller</ion-option>
            <ion-option value="clinic">Clinic / Vet</ion-option>
            <ion-option value="shelter">Shelter</ion-option>
            <ion-option value="shop">Shop</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </div>
   
      <div text-center>
        <button ion-button class="btnWidth" color="myHitam" round type="submit">Create Account </button>
      </div>
      </form>      
  </ion-content>
  