
<ion-tabs color="myHitam">
  <ion-tab [root]="tab1Root" tabTitle="Ads" tabIcon="paw"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Item" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Services" tabIcon="build"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Shop" tabIcon="basket"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Clinic" tabIcon="medical"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Shelter" tabIcon="home"></ion-tab>
</ion-tabs>
