<ion-header>
  <ion-navbar color="myHitam">
    <ion-title>
      Item
    </ion-title>
    <!-- <ion-buttons start>
        <button ion-button icon-only [navPush]="searchPage">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-buttons end>
        <button ion-button icon-only [navPush]="searchPage" *ngIf="isAuthenticated">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#7f8c8d;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <form #form="ngForm" (ngSubmit)="submitPet(form)">
  <ion-list inset class="label"> 
  <ion-item>
    <ion-label>Name</ion-label>
      <ion-input type="text" ngModel name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="type" name="type">
        <ion-option value="New">New</ion-option>
        <ion-option value="Second">Second</ion-option>
      </ion-select>
  </ion-item>
  <ion-item>
  <ion-badge item-end color="myHitam">{{saturation}}</ion-badge>
    <ion-range min="0" max="1000" [(ngModel)]="saturation" color="primary" name="price">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>1000</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <button ion-button full color="myHitam" type="submit">Search</button>
  </ion-item>
</ion-list>
</form>
  <ion-item style="background-color:#7f8c8d;">
    <ion-badge item-end color="myHitam">Results</ion-badge>
    </ion-item>
    <ion-list>
      <button style="background-color:#7f8c8d;" ion-item icon-left *ngFor="let item of pet" (click)="detailPage(item.id)">
        <ion-thumbnail item-left>
           <img src="{{item.photo}}">
           <!-- <ion-img src="{{item.image}}"></ion-img> -->
         </ion-thumbnail>
         <h2 style="color:aliceblue">{{item.name | uppercase}}</h2>
         <p *ngIf="item.price == 0"><ion-badge item-start style="background-color:#006400" >Free</ion-badge><ion-badge text-right color="primary">{{item.type}}</ion-badge></p>
         <p style="color:#e2e2e2" *ngIf="item.price != 0"> <ion-badge text-right color="danger">RM {{item.price}}</ion-badge> <ion-badge text-right color="primary">{{item.type}}</ion-badge></p>
         <p style="color:#e2e2e2"> By {{ item.username}} </p>

      </button>
     </ion-list>
</ion-content>
