<ion-header>
  <ion-navbar color="myHitam">
    <ion-title>
      Service
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only [navPush]="addPage">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#7f8c8d;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
  <ion-item-sliding *ngFor="let item of pet">
      <ion-item style="background-color:#7f8c8d;" >
        <ion-avatar item-start >
          <img src="{{item.photo}}">
        </ion-avatar>
        <h2 style="color:aliceblue">{{item?.name | uppercase}}</h2>
         <p style="color:#e2e2e2">RM {{item?.price}}</p>
        <button style="color:aliceblue" color="myHitam" ion-button item-end (click)="detailPage(item?.id)">View</button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="editPage(item?.id)">Edit</button>
        <button ion-button color="danger" (click)="deletePet(item?.id)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>    
  </ion-list>
</ion-content>
