<ion-header>
  <ion-navbar color="myHitam">
    <ion-title>
      Update Item
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#7f8c8d;" padding>
  <img src="{{image}}" *ngIf="image" alt="Ionic File" width="300" />
  <img src="{{pet?.photo}}" *ngIf="!image" alt="Ionic File" width="300" />
  	<!-- <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
      </button> -->
  	<button ion-button full color="myHitam" round type="submit">Edit Picture</button>

	<form #form="ngForm" (ngSubmit)="submitPet(form)">
    <ion-list inset >
    <ion-item class="label">
      <ion-label style="color:#ebebeb;">Name</ion-label>
      <ion-input type="hidden" style="color:#ebebeb;" required ngModel name="id" value="{{pet?.id}}"></ion-input>
      <ion-input type="text" style="color:#ebebeb;" required ngModel name="name" value="{{pet?.name}}"></ion-input>
    </ion-item>
  	<ion-item class="label">
      <ion-label style="color:#ebebeb;">Price (RM)</ion-label>
      <ion-input type="number" style="color:#ebebeb;" required ngModel name="price" value="{{pet?.price}}"></ion-input>
    </ion-item>
    <ion-item class="label">
      <ion-label style="color:#ebebeb;">Description</ion-label>
      <ion-textarea type="text" style="color:#ebebeb;" required ngModel name="description" value="{{pet?.description}}"></ion-textarea>
    </ion-item>
    <ion-item class="label">
      <ion-label style="color:#ebebeb;">Type</ion-label>
      <ion-select [(ngModel)]="type" style="color:#ebebeb;" required name="type">
        <ion-option value="New" [selected]="pet?.type">New</ion-option>
        <ion-option value="Second" [selected]="pet?.type">Second</ion-option>
      </ion-select>
    </ion-item>  
  </ion-list>
      

  <button ion-button full color="myHitam" round type="submit">Update Item</button>
  </form>
</ion-content>
