
<ion-header>

  <ion-navbar color="myHitam">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#7f8c8d;">
    <ion-card>
        <ion-card-content>
            <img src="{{user?.photo_url}}"/>
            <h2 style="color:aliceblue">{{user?.username}}</h2>
        </ion-card-content>
        <ion-list>
            <a ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Office</p>
                <h2>0199203360</h2>
            </a>
            <a href="#" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Mobile</p>
                <h2>0199203360</h2>
            </a>
            <a href="#" ion-item>
                <ion-icon name="text" item-left></ion-icon>
                <p>Text</p>
                <h2>0199203360</h2>
            </a>
            <a href="#" ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <p>Email</p>
                <h2>{{user?.email}}</h2>
            </a>
        </ion-list>

    </ion-card>
</ion-content>
