<ion-header>

  <ion-navbar color="myHitam">
    <ion-title>Shelter</ion-title>
  </ion-navbar>
</ion-header>


<ion-content style="background-color:#7f8c8d;">
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <form #form="ngForm" (ngSubmit)="submitPet(form)">
  <ion-list inset class="label"> 
  <ion-item>
    <ion-label>Name</ion-label>
      <ion-input type="text" ngModel name="name"></ion-input>
  </ion-item>
  <ion-item>
         <ion-label>State</ion-label>
         <ion-select (ionChange)="setDistrictValues(sState)"[(ngModel)]="sState" name="state">
             <ion-option [value]="sState" *ngFor="let sState of states">{{sState.name}} </ion-option>
         </ion-select>
     </ion-item>
     <ion-item *ngIf="selectedDistricts">
        <ion-label>District</ion-label>
        <ion-select [(ngModel)]="sDistrict" name="town">
            <ion-option [value]="sDistrict" *ngFor="let sDistrict of selectedDistricts">{{sDistrict.name}}</ion-option>
        </ion-select>
     </ion-item>
  <ion-item>
    <button ion-button full color="myHitam" type="submit">Search</button>
  </ion-item>
</ion-list>
</form>
  <ion-item style="background-color:#7f8c8d;">
    <ion-badge item-end color="myHitam">Results</ion-badge>
    </ion-item>
    <ion-list >
        <ion-item style="background-color:#7f8c8d;" *ngFor="let item of shelter" (click)="detailPage(item.id)">
         <ion-thumbnail item-left>
           <img src="{{item.photo}}">
         </ion-thumbnail>
         <h2 style="color:aliceblue">{{item.name}}</h2>
         <p style="color:#e2e2e2"> {{item.hour_from}} - {{item.hour_until}}</p>
         <p style="color:#e2e2e2"> {{item.town}}, {{item.state}}</p>
       </ion-item>
     </ion-list>

</ion-content>
