<ion-header>
  <ion-navbar color="myHitam">
    <ion-title>
      Add Pet
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#7f8c8d;" padding>
  <img src="{{image}}" *ngIf="image" alt="Ionic File" width="300" />
	<form #form="ngForm" (ngSubmit)="submitPet(form)">
    <ion-list inset >
    <ion-item class="label">
      <ion-label style="color:#ebebeb;">Name</ion-label>
      <ion-input type="text" style="color:#ebebeb;" required ngModel name="name"></ion-input>
    </ion-item>
  	<ion-item class="label">
      <ion-label style="color:#ebebeb;">Price (RM)</ion-label>
      <ion-input type="number" style="color:#ebebeb;" required ngModel name="price"></ion-input>
    </ion-item>
      <ion-row>
        <ion-col>
          <ion-item class="label">
          <ion-label style="color:#ebebeb;">Year</ion-label>
          <ion-input type="number" style="color:#ebebeb;" required ngModel name="year"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="label">
          <ion-label style="color:#ebebeb;">Month</ion-label>
          <ion-input type="number" style="color:#ebebeb;" required ngModel name="month"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    <ion-item class="label">
      <ion-label style="color:#ebebeb;">Description</ion-label>
      <ion-textarea type="text" style="color:#ebebeb;" required ngModel name="description"></ion-textarea>
    </ion-item>
    <ion-item class="label">
      <ion-label style="color:#ebebeb;">Type</ion-label>
      <ion-select [(ngModel)]="type" style="color:#ebebeb;" required name="type">
        <ion-option value="Mammal">Mammal</ion-option>
        <ion-option value="Bird">Bird</ion-option>
        <ion-option value="Fish">Fish</ion-option>
        <ion-option value="Reptile">Reptile</ion-option>
        <ion-option value="Amphambian">Amphambian</ion-option>
        <ion-option value="Invertebrate">Invertebrate</ion-option>
      </ion-select>
    </ion-item>

    

  
  </ion-list>
      

  <button ion-button full color="myHitam" round type="submit">Add Pet</button>
  </form>
</ion-content>
