<ion-header>

  <ion-navbar color="myHitam">
    <ion-title>Search Shelter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#7f8c8d;">
  <ion-list inset class="label">

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="gaming">
        <ion-option value="pet">Johor</ion-option>
        <ion-option value="item">N.Sembilan</ion-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

  <button ion-button full color="myHitam" navPop>Search Shelter</button>
</ion-content>
