<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar color="myHitam">      
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
    <ion-content padding style="background-color:#7f8c8d;">
      <ion-list>
      <button style="font-size:100%; color:#ebebeb;background-color:#7f8c8d;" ion-item icon-left *ngIf="isAuthenticated" (click)="onLoad(profilePage)">
        <i class="fa fa-user"  style="font-size:100%; color:#ebebeb;" aria-hidden="true"></i> My Profile
      </button>
      <button style="font-size:100%; color:#ebebeb;background-color:#7f8c8d;" ion-item icon-left *ngIf="isAuthenticated" (click)="onLoad(mypetPage)">
        <i class="fa fa-paw"  style="font-size:100%; color:#ebebeb;" aria-hidden="true"></i> My Pet
      </button>
      <button style="font-size:100%; color:#ebebeb;background-color:#7f8c8d;" ion-item icon-left *ngIf="isAuthenticated" (click)="onLoad(myitemPage)">
        <i class="fa fa-archive "  style="font-size:100%; color:#ebebeb;" aria-hidden="true"></i> My Item
      </button>
      <button style="font-size:100%; color:#ebebeb;background-color:#7f8c8d;" ion-item icon-left *ngIf="isAuthenticated">
        <i class="fa fa-thumbs-up"  style="font-size:100%; color:#ebebeb;" aria-hidden="true"></i> My Favourite
      </button>
      <button style="font-size:100%; color:#ebebeb;background-color:#7f8c8d;" ion-item icon-left *ngIf="!isAuthenticated" (click)="onLoad(loginPage)" ><i class="fa fa-sign-in"  style="font-size:100%; color:#ebebeb;" aria-hidden="true"></i> Login
      </button>
      <button style="font-size:100%; color:#ebebeb;background-color:#7f8c8d;" ion-item icon-left *ngIf="!isAuthenticated" (click)="onLoad(registerPage)">
        <i class="fa fa-sign-in"  style="font-size:100%; color:#ebebeb;" aria-hidden="true"></i> Register
      </button>
      <button style="font-size:100%; color:#ebebeb;background-color:#7f8c8d;" ion-item icon-left *ngIf="isAuthenticated" (click)="logout()">
        <i class="fa fa-sign-out"  style="font-size:100%; color:#ebebeb;" aria-hidden="true"></i> Logout
      </button>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-nav [root]="rootPage" #mycontent swipeBackEnabled="false"></ion-nav>
