page-intro {
    .swiper-pagination-bullet-active{
		background: #ededed;
	}

	.bg-image{
	background-image: url('../assets/imgs/full-moon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	}

	.padding{
		padding-bottom: 100px;	
	}
}
