
<ion-content>
<ion-slides pager>

  <ion-slide style="background-color: #3498db">
      <i class="fa fa-paw"  style="font-size:120px; color:#ebebeb;" aria-hidden="true"></i>
      <h1 style="color: #ebebeb;font-family:baloo-bhai">Pet Market</h1>
      <p style="font-family: OpenSans; font-size:14px; color:#ebebeb"> <b>Market</b> and <b> adopt</b> your pet here</p>
  </ion-slide>

  <ion-slide style="background-color: #2ecc71">
      <i class="fa fa-search"  style="font-size:120px; color:#ebebeb;" aria-hidden="true"></i>
      <h1 style="color: #ebebeb;font-family:baloo-bhai">Search Everywhere</h1>
      <p style="font-family: OpenSans; font-size:14px; color:#ebebeb">You can <b>search</b> your future pet even in a <i>bed</i></p>
  </ion-slide>

  <ion-slide style="background-color: #e74c3c">
      <i class="fa fa-shopping-cart"  style="font-size:120px; color:#ebebeb;" aria-hidden="true"></i>
      <h1 style="color: #ebebeb;font-family:baloo-bhai">Buy and Sell</h1>
      <p style="font-family: OpenSans; font-size:14px; color:#ebebeb"> <b>Sell</b> your unwanted <b>pets</b> for other to take care of it</p>
  </ion-slide>
  <ion-slide class="bg-image">
    
      <h1 style="color:#ffffff;font-family:baloo-bhai;"> <b>Welcome to Pet Stop Centre</b></h1>
      <img src="assets/imgs/rasmi2.png" style="center">
      <h5 style="color:#bdc3c7">Your Assistant in smartphone</h5>
      <p class="padding" style="font-family: OpenSans; font-size: 14px;color: #bdc3c7;">Now that you've seen what its all<br> about, how about we get started? </p>
  
      <div style="position: absolute;bottom: 10%; text-align: center; z-index: 1000;width: 100%">
        <button ion-button color="myWhite" round outline [navPush]="pushPage"> Let's Go!</button>
        
      </div>
    </ion-slide>
</ion-slides>
</ion-content>
