<ion-header>
  <ion-navbar color="myHitam">

    <ion-buttons start>
      <button ion-button icon-only menuToggle [navPush]="pushPage">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>News</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#7f8c8d;">

  <ion-card style="background-color:#34495e;">
        
          <ion-item style="background-color:#34495e;">
            <ion-avatar item-start>
              <img src="assets/imgs/bg-image.jpg">
            </ion-avatar>
            <h2 style="color:aliceblue">Alice</h2>
            <p style="color:#e2e2e2">12 Feb 2019</p>
          </ion-item>
        
          <img src="assets/imgs/bg-image.jpg">
        
          <ion-card-content>
            <p>Kakak Tua</p>
          </ion-card-content>
        
          <ion-row padding style="padding-top:0px;">
            <ion-col>
              <button ion-button icon-left clear small color="myWhite">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>12 Likes</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small color="myWhite">
                <ion-icon name="text"></ion-icon>
                <div>4 Comments</div>
              </button>
            </ion-col>
          </ion-row>
        
        </ion-card>

</ion-content>
