<ion-header>

  <ion-navbar color="myHitam">
    <ion-title>Service Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#7f8c8d;">
  <ion-card style="background-color:#34495e;" *ngIf="!!pet">  
    <img src="{{pet.photo}}" style="width: 300px;height: 250px;" >
  
    <ion-card-content>
      <h1 style="color:#ebebeb"> {{pet.name| uppercase}}</h1>
      <p *ngIf="pet.price == 0"><ion-badge pet-start style="background-color:#006400" >Free</ion-badge><ion-badge text-right color="primary">{{pet.type}}</ion-badge></p>
      <p style="color:#e2e2e2" *ngIf="pet.price != 0"> <ion-badge text-right color="danger">RM {{pet.price}}</ion-badge> <ion-badge text-right color="primary">{{pet.type}}</ion-badge></p>
      <p style="color:#ebebeb">
        <br>
        Description:
        <br>
        {{pet.description}}
      </p>

      <p text-right style="color:#ebebeb"><ion-badge color="myHitam" (click)="profilePage(pet.user_id)">By {{ pet.username}}</ion-badge></p>
      
    </ion-card-content>  
  </ion-card>
</ion-content>
