<ion-header>

  <ion-navbar color="myHitam">
    <ion-title>Search Pet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#7f8c8d;">
  <form #form="ngForm" (ngSubmit)="submitPet(form)">
  <ion-list inset class="label">

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" ngModel name="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="type" name="type">
        <ion-option value="Mammal">Mammal</ion-option>
        <ion-option value="Bird">Bird</ion-option>
        <ion-option value="Fish">Fish</ion-option>
        <ion-option value="Reptile">Reptile</ion-option>
        <ion-option value="Amphambian">Amphambian</ion-option>
        <ion-option value="Invertebrate">Invertebrate</ion-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

  <button ion-button full color="myHitam" type="submit">Search Pet</button>
</form>
</ion-content>
