
<ion-header>

  <ion-navbar color="myHitam">
    <ion-title>Shop Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background-color:#7f8c8d;" *ngIf="!!clinic">
    <ion-card>
        <ion-card-content>
            <img src="{{clinic.photo}}"/>
            <h2 style="color:aliceblue">{{clinic.name| uppercase}}</h2>
        </ion-card-content>
        <ion-list>
            <a href="#" ion-item>
                <ion-icon name="home" item-left></ion-icon>
                <p>Address</p>
                <h2>{{clinic.town}}, {{clinic.state}} </h2>
            </a>
            <a href="#" ion-item>
                <ion-icon name="clock" item-left></ion-icon>
                <p>Operating Time</p>
                <h2>{{clinic.hour_from}} - {{clinic.hour_until}} </h2>
            </a>
            <a (click)="dialNumber(clinic.phone)" ion-item>
                <ion-icon name="call" item-left></ion-icon>
                <p>Call Mobile</p>
                <h2>{{clinic.phone}}</h2>
            </a>
            <a (click)="navigate()" ion-item>
                <ion-icon name="navigate" item-left></ion-icon>
                <p>Navigate</p>
                <h2>Click to navigate us</h2>
            </a>
        </ion-list>
    </ion-card>
</ion-content>
